<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= raw Rinku.auto_link(micropost.content) %>
    <% if micropost.image.attached? %>
      <%= image_tag micropost.image.variant(:display) %>
    <% end %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) || current_user.admin? %>
      <% if (trash_action = action_name == 'trash') %>
        <%= link_to 'restore', micropost, data: { turbo_method: :patch } %>
      <% end %>
      <%= link_to 'delete', micropost, data: {
           turbo_method: :delete,
           turbo_confirm: 'Are you sure you want to delete this post?'
      } %>
      <% unless trash_action %>
        <%= link_to micropost.pinned? ? 'unpin' : 'pin',
                    toggle_pinned_micropost_path(micropost),
                    data: { turbo_method: :patch } %>
      <% end %>
    <% end %>
  </span>
</li>
